.footer{
    background-color:#f3f3f3;
    border-top: #e6e6e6 solid 1px;
    height: 25%;
}

.footer-ul{
    list-style:none;
    font-size: 13px;
    margin:1% 0 2% 1%;
    padding:0;
}

.footer-li{
    margin:0;
    padding:0 1% 0 1%;
    border:0;
    float:left;

}

.footer-li-mid{
    margin:0;
    padding:0 1% 0 1%;
    border-right:#959595 solid 1px;
    border-left:#959595 solid 1px;
    float:left;
}

.license{
    margin:0 0 0 2%;
    float:left;
    font-size: 13px;
    color:#959595;
}

.logo{   
    width:80%;  
    height:80%;
}

.logo-container{
    border-right: #e6e6e6 solid 1px;
}
.footer-container{
    padding-top:0.7%!important;
    padding-bottom:0.7%!important;
}

