.join_us-body,.noticeall-body,.modify-body,.share-body,.Login-body,.noticehot-body,.noticetheme-body{
    margin:5% 0 3% 0;
}

.board-item-left{
    border-right:solid 3px #e6e6e6;
}
.board-item{
    padding:1% 1% 1% 1%;
    border-bottom:solid 3px #e6e6e6;
}
.board-item-top{
    border-top:solid 3px #e6e6e6;
    
}
.body-title{
    text-align:center;
    font-size:35px;
}
.board-item-uptime{
    float:right;
    font-size:10px;
}

.body-title-left{
    text-align: left!important;
}

.write-board{
    float: right;
}

.body-info{
    margin-top:2%;
    float:right;
    font-size:12px;
}

sup{
    color:red;
}

.body-item{
    margin-top:5%;
    padding-top:5%;
    border-top:solid 3px #e6e6e6;
}
.body-theme-item{
    margin-top:5%;
    padding-top:1%;
    border-top:solid 3px #e6e6e6;
}
.body-theme-list{
    margin-bottom:1%;
}
.body-item-board{
    margin-top:2%!important;
}
.item-lable{
    margin-bottom:5%;
    margin-top:5%;
}
.board-theme-item{
   text-align: center;
}
.item-input{  
    margin-top:1%; 
    width:100%;
}
.id-check{
    margin-top:0!important;
}
.checkbox-form{
    text-align: center;
}

.checkbox-item{
    margin:0 7% 0 7%!important;
}

.body-footer{
    text-align: center;
    margin-top:5%;
}

.addi-alert{
    text-decoration: underline!important;
}

.commit-btn{
    text-align: center;
    margin-top:5%;
}

textarea{
    width:100%;
    height:100px;
    resize:none;
}

.file-input{
    border:#767676 solid 1px;
}
.addr-input{
    width:30%!important;
    margin-right:1.5%;
}

.item-select{
    border:#767676 solid 1px!important;
}

.ask-input{
    height:300px!important;
}

.notice-table{
    text-align: center;
}

.table-head{
    border-bottom:#e6e6e6 solid 3px!important;
}

.review-textarea{
    resize: none;
    
}

.login-label{
    text-align: center;
}

.find-info{
    font-size: 11px;
    text-align: center;
}