.Noticeboard-table{
    margin-top:1%;
    border-top:solid 3px #e6e6e6;
}

.Noticeboard-title{
    font-size:20px;
}
.Noticeboard-addi{
    font-size:5px;
    float:right;
    margin-top:2.5%;
}

.Noticeboard-date{
    float:right;
}
a{ 
    color: black!important; 
    text-decoration: none!important;
    cursor: pointer;
}

.Noticeboard-item{
    margin-top:1%;
}
.item-date{
    float:right;
}