.admin-body{
    margin:5% 0 3% 0;
}

.link-body{
    padding:0!important;
}


.body-title{
    text-align:center;
    font-size:35px;
}

.item-center{
    text-align: center;
}
.item-left{
    text-align: left;
}
.item-right{
    text-align: right;
}
.body-underline{
    border-bottom:solid 3px #e6e6e6;
    padding-bottom:1%;
}

.item-start{
    padding-top:1%;
}

.body-upperline{
    border-top:solid 3px #e6e6e6;
}

.nospace-top{
    margin-top:0!important;
}

.link-body{
    background-color: whitesmoke;
    border-left:solid 3px #e6e6e6;
    border-right: solid 3px #e6e6e6;
}

.link-border{
    border-left:solid 3px #e6e6e6;
}
.costom-container{
    padding-left:0!important;
    padding-right:0!important;
}
.costom-btn{
    background-color: whitesmoke!important;
    color:black!important;
    width:100%;
    border-radius: 0!important;   
}

.costom-row{
    margin-left:0!important;
    margin-right:0!important;
}

.costom-col{
    padding-left:0!important;
    padding-right:0!important;
}

.banner-item{
    background-color: whitesmoke;
    height:150px;
}

.banner-file{
    width:90%;
    margin-bottom:1%!important;
    margin-left:1%!important;
    text-align: left!important;
}

.admin-label{
    padding-top:5%;
    
}
.item-full{
    width:100%;
}
.size-big{
    padding-top:0.65%;
    padding-bottom:0.65%;
}
    
.board-item-list{
    border:1px gray solid;
    background-color: whitesmoke;
    padding:1% 0 1% 0;
}
.board-item-list:hover{
    background-color:gray;
}

.bordered{
    border:1px black solid;
}

.half-space-top{
    margin-top:2.5%!important;
}